# Licensed to the Apache Software Foundation (ASF) under the terms of ASLv2 (http://www.apache.org/licenses/LICENSE-2.0).

authentication.baseURL = https://serverauth.localhost:8080/repository/
authentication.enabled = true
authentication.type = client_cert
authentication.keystore.file = /Users/brampouwelse/certs/certs/serverauth.jks
authentication.keystore.storepass = secret
authentication.truststore.file = /Users/brampouwelse/certs/certs/root_ca.jks
authentication.truststore.storepass = secret
